@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #ffffff;
    overflow: hidden;
}

.background span {
    width: 3vmin;
    height: 3vmin;
    border-radius: 3vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 25;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 56%;
    left: 47%;
    animation-duration: 247s;
    animation-delay: -20s;
    transform-origin: -22vw 17vh;
    box-shadow: -6vmin 0 1.4990316462039326vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 72%;
    left: 86%;
    animation-duration: 149s;
    animation-delay: -154s;
    transform-origin: -10vw -24vh;
    box-shadow: -6vmin 0 1.4224217540352995vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 77%;
    left: 82%;
    animation-duration: 116s;
    animation-delay: -175s;
    transform-origin: 10vw 9vh;
    box-shadow: 6vmin 0 1.6123056102463091vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 21%;
    left: 69%;
    animation-duration: 251s;
    animation-delay: -89s;
    transform-origin: -10vw 18vh;
    box-shadow: -6vmin 0 0.9165562450287582vmin currentColor;
}
.background span:nth-child(4) {
    color: #FFACAC;
    top: 55%;
    left: 87%;
    animation-duration: 236s;
    animation-delay: -144s;
    transform-origin: 11vw 20vh;
    box-shadow: 6vmin 0 0.7799991921008137vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 78%;
    left: 93%;
    animation-duration: 201s;
    animation-delay: -146s;
    transform-origin: 25vw 6vh;
    box-shadow: 6vmin 0 1.4720968260685914vmin currentColor;
}
.background span:nth-child(6) {
    color: #FFACAC;
    top: 96%;
    left: 34%;
    animation-duration: 34s;
    animation-delay: -63s;
    transform-origin: 10vw 3vh;
    box-shadow: 6vmin 0 1.7248444557086948vmin currentColor;
}
.background span:nth-child(7) {
    color: #FFACAC;
    top: 70%;
    left: 59%;
    animation-duration: 86s;
    animation-delay: -187s;
    transform-origin: 17vw -18vh;
    box-shadow: 6vmin 0 0.7764223378964819vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 61%;
    left: 91%;
    animation-duration: 251s;
    animation-delay: -128s;
    transform-origin: 12vw -16vh;
    box-shadow: -6vmin 0 0.7598401604066007vmin currentColor;
}
.background span:nth-child(9) {
    color: #FFACAC;
    top: 66%;
    left: 95%;
    animation-duration: 58s;
    animation-delay: -162s;
    transform-origin: -23vw 16vh;
    box-shadow: -6vmin 0 0.8326574527068568vmin currentColor;
}
.background span:nth-child(10) {
    color: #583C87;
    top: 50%;
    left: 93%;
    animation-duration: 92s;
    animation-delay: -169s;
    transform-origin: -22vw 21vh;
    box-shadow: 6vmin 0 1.0690826692483397vmin currentColor;
}
.background span:nth-child(11) {
    color: #FFACAC;
    top: 17%;
    left: 29%;
    animation-duration: 7s;
    animation-delay: -233s;
    transform-origin: -24vw -24vh;
    box-shadow: 6vmin 0 1.0093178819034214vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 78%;
    left: 47%;
    animation-duration: 37s;
    animation-delay: -201s;
    transform-origin: -18vw 3vh;
    box-shadow: -6vmin 0 1.5144799358711365vmin currentColor;
}
.background span:nth-child(13) {
    color: #FFACAC;
    top: 57%;
    left: 95%;
    animation-duration: 25s;
    animation-delay: -138s;
    transform-origin: 19vw 12vh;
    box-shadow: 6vmin 0 1.4980511545051924vmin currentColor;
}
.background span:nth-child(14) {
    color: #583C87;
    top: 15%;
    left: 91%;
    animation-duration: 40s;
    animation-delay: -218s;
    transform-origin: 15vw 21vh;
    box-shadow: 6vmin 0 1.40752522924964vmin currentColor;
}
.background span:nth-child(15) {
    color: #FFACAC;
    top: 96%;
    left: 13%;
    animation-duration: 164s;
    animation-delay: -163s;
    transform-origin: 20vw -12vh;
    box-shadow: -6vmin 0 0.9692822896835169vmin currentColor;
}
.background span:nth-child(16) {
    color: #583C87;
    top: 38%;
    left: 85%;
    animation-duration: 83s;
    animation-delay: -225s;
    transform-origin: 18vw 0vh;
    box-shadow: 6vmin 0 0.8685555147786499vmin currentColor;
}
.background span:nth-child(17) {
    color: #FFACAC;
    top: 85%;
    left: 62%;
    animation-duration: 64s;
    animation-delay: -20s;
    transform-origin: 18vw -12vh;
    box-shadow: -6vmin 0 1.659867340575759vmin currentColor;
}
.background span:nth-child(18) {
    color: #FFACAC;
    top: 63%;
    left: 43%;
    animation-duration: 143s;
    animation-delay: -21s;
    transform-origin: -19vw 13vh;
    box-shadow: -6vmin 0 1.1039768215524675vmin currentColor;
}
.background span:nth-child(19) {
    color: #FFACAC;
    top: 84%;
    left: 57%;
    animation-duration: 28s;
    animation-delay: -177s;
    transform-origin: 24vw -9vh;
    box-shadow: -6vmin 0 1.5365130113860022vmin currentColor;
}
.background span:nth-child(20) {
    color: #583C87;
    top: 48%;
    left: 77%;
    animation-duration: 150s;
    animation-delay: -198s;
    transform-origin: -2vw 22vh;
    box-shadow: 6vmin 0 1.2197291013817266vmin currentColor;
}
.background span:nth-child(21) {
    color: #583C87;
    top: 100%;
    left: 68%;
    animation-duration: 147s;
    animation-delay: -196s;
    transform-origin: 16vw 4vh;
    box-shadow: 6vmin 0 1.280027300314093vmin currentColor;
}
.background span:nth-child(22) {
    color: #583C87;
    top: 82%;
    left: 72%;
    animation-duration: 43s;
    animation-delay: -10s;
    transform-origin: -3vw 23vh;
    box-shadow: 6vmin 0 1.49874883416306vmin currentColor;
}
.background span:nth-child(23) {
    color: #E45A84;
    top: 8%;
    left: 53%;
    animation-duration: 112s;
    animation-delay: -227s;
    transform-origin: 10vw 22vh;
    box-shadow: -6vmin 0 1.6321284128997768vmin currentColor;
}
.background span:nth-child(24) {
    color: #FFACAC;
    top: 45%;
    left: 4%;
    animation-duration: 25s;
    animation-delay: -147s;
    transform-origin: -5vw -21vh;
    box-shadow: -6vmin 0 1.1450529554152509vmin currentColor;
}
.background span:nth-child(25) {
    color: #E45A84;
    top: 74%;
    left: 24%;
    animation-duration: 144s;
    animation-delay: -190s;
    transform-origin: 10vw 5vh;
    box-shadow: -6vmin 0 0.8317969525590196vmin currentColor;
}
.background span:nth-child(26) {
    color: #FFACAC;
    top: 36%;
    left: 84%;
    animation-duration: 147s;
    animation-delay: -70s;
    transform-origin: 22vw -8vh;
    box-shadow: -6vmin 0 1.3652458184204972vmin currentColor;
}
.background span:nth-child(27) {
    color: #E45A84;
    top: 23%;
    left: 43%;
    animation-duration: 160s;
    animation-delay: -52s;
    transform-origin: 14vw 18vh;
    box-shadow: 6vmin 0 1.0562226147273615vmin currentColor;
}
.background span:nth-child(28) {
    color: #583C87;
    top: 86%;
    left: 78%;
    animation-duration: 81s;
    animation-delay: -142s;
    transform-origin: -16vw -8vh;
    box-shadow: 6vmin 0 1.5331894616430821vmin currentColor;
}
.background span:nth-child(29) {
    color: #583C87;
    top: 97%;
    left: 92%;
    animation-duration: 182s;
    animation-delay: -200s;
    transform-origin: -19vw 17vh;
    box-shadow: 6vmin 0 0.9876659605282992vmin currentColor;
}
.background span:nth-child(30) {
    color: #E45A84;
    top: 39%;
    left: 86%;
    animation-duration: 15s;
    animation-delay: -100s;
    transform-origin: 23vw -6vh;
    box-shadow: -6vmin 0 1.7005599886080964vmin currentColor;
}
.background span:nth-child(31) {
    color: #583C87;
    top: 52%;
    left: 3%;
    animation-duration: 48s;
    animation-delay: -88s;
    transform-origin: 20vw 0vh;
    box-shadow: -6vmin 0 1.7412896611736999vmin currentColor;
}
.background span:nth-child(32) {
    color: #583C87;
    top: 7%;
    left: 61%;
    animation-duration: 104s;
    animation-delay: -43s;
    transform-origin: -2vw -20vh;
    box-shadow: -6vmin 0 0.9080570172471099vmin currentColor;
}
.background span:nth-child(33) {
    color: #E45A84;
    top: 27%;
    left: 46%;
    animation-duration: 149s;
    animation-delay: -154s;
    transform-origin: -9vw 6vh;
    box-shadow: -6vmin 0 1.3243812790417624vmin currentColor;
}
.background span:nth-child(34) {
    color: #583C87;
    top: 26%;
    left: 1%;
    animation-duration: 51s;
    animation-delay: -77s;
    transform-origin: -2vw -15vh;
    box-shadow: -6vmin 0 1.0406816136581711vmin currentColor;
}
.background span:nth-child(35) {
    color: #E45A84;
    top: 93%;
    left: 42%;
    animation-duration: 252s;
    animation-delay: -31s;
    transform-origin: -24vw -22vh;
    box-shadow: -6vmin 0 1.0856790545820982vmin currentColor;
}
.background span:nth-child(36) {
    color: #583C87;
    top: 33%;
    left: 39%;
    animation-duration: 124s;
    animation-delay: -138s;
    transform-origin: -10vw -23vh;
    box-shadow: 6vmin 0 1.3000764426306664vmin currentColor;
}
.background span:nth-child(37) {
    color: #FFACAC;
    top: 44%;
    left: 25%;
    animation-duration: 53s;
    animation-delay: -149s;
    transform-origin: -14vw 16vh;
    box-shadow: 6vmin 0 1.3895294608855844vmin currentColor;
}
.background span:nth-child(38) {
    color: #583C87;
    top: 80%;
    left: 66%;
    animation-duration: 219s;
    animation-delay: -163s;
    transform-origin: 8vw 2vh;
    box-shadow: -6vmin 0 1.2667870026976553vmin currentColor;
}
.background span:nth-child(39) {
    color: #FFACAC;
    top: 45%;
    left: 36%;
    animation-duration: 49s;
    animation-delay: -241s;
    transform-origin: -15vw 22vh;
    box-shadow: 6vmin 0 0.9418135377039851vmin currentColor;
}
.background span:nth-child(40) {
    color: #FFACAC;
    top: 20%;
    left: 35%;
    animation-duration: 38s;
    animation-delay: -224s;
    transform-origin: -13vw 12vh;
    box-shadow: -6vmin 0 1.7127161801922388vmin currentColor;
}
.background span:nth-child(41) {
    color: #583C87;
    top: 3%;
    left: 48%;
    animation-duration: 208s;
    animation-delay: -143s;
    transform-origin: -2vw 25vh;
    box-shadow: -6vmin 0 1.3484285961998446vmin currentColor;
}
.background span:nth-child(42) {
    color: #FFACAC;
    top: 83%;
    left: 9%;
    animation-duration: 172s;
    animation-delay: -41s;
    transform-origin: 16vw 18vh;
    box-shadow: -6vmin 0 1.6857302651924078vmin currentColor;
}
.background span:nth-child(43) {
    color: #E45A84;
    top: 81%;
    left: 69%;
    animation-duration: 121s;
    animation-delay: -23s;
    transform-origin: -21vw -14vh;
    box-shadow: 6vmin 0 1.7315015630474164vmin currentColor;
}
.background span:nth-child(44) {
    color: #FFACAC;
    top: 83%;
    left: 5%;
    animation-duration: 84s;
    animation-delay: -133s;
    transform-origin: 4vw 25vh;
    box-shadow: -6vmin 0 1.7321635295544315vmin currentColor;
}
.background span:nth-child(45) {
    color: #E45A84;
    top: 66%;
    left: 62%;
    animation-duration: 180s;
    animation-delay: -77s;
    transform-origin: 9vw -23vh;
    box-shadow: 6vmin 0 1.3183773342384806vmin currentColor;
}
.background span:nth-child(46) {
    color: #FFACAC;
    top: 23%;
    left: 79%;
    animation-duration: 247s;
    animation-delay: -225s;
    transform-origin: -17vw 21vh;
    box-shadow: 6vmin 0 1.6937634951934508vmin currentColor;
}
.background span:nth-child(47) {
    color: #FFACAC;
    top: 100%;
    left: 100%;
    animation-duration: 119s;
    animation-delay: -2s;
    transform-origin: -15vw -20vh;
    box-shadow: -6vmin 0 0.9828603628813416vmin currentColor;
}
.background span:nth-child(48) {
    color: #E45A84;
    top: 23%;
    left: 72%;
    animation-duration: 189s;
    animation-delay: -11s;
    transform-origin: 2vw 16vh;
    box-shadow: -6vmin 0 1.330406335608159vmin currentColor;
}
.background span:nth-child(49) {
    color: #FFACAC;
    top: 50%;
    left: 3%;
    animation-duration: 175s;
    animation-delay: -205s;
    transform-origin: -10vw 17vh;
    box-shadow: 6vmin 0 1.6029678556889668vmin currentColor;
}